body {
    font-family: 'Reddit Mono', sans-serif;
    background-color: #e0e0e0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #e0e0e0;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    font-family: 'Calistoga' /* Tipografía similar a Leica */
}

nav a:hover {
    background-color: #ff0000; /* Color rojo sólido */
    box-shadow: none; /* Elimina el difuminado */
    color: #ffffff; /* Color del texto blanco al hacer hover */
}

main {
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

section {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
}

h1, h2 {
    color: #000000; /* Cambiado a color negro */
}

p {
    text-align: center;
}

.project {
    margin-bottom: 1rem;
}

.project h3 {
    color: #000000; /* Cambiado a color negro */
}
