body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #e0e0e0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: none; /* Ocultar el cursor por defecto */
}

header {
    background-color: #e0e0e0;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    font-family: 'Jacques Francois Shadow', cursive; /* Tipografía similar a Leica */
}

nav a:hover {
    background-color: #ff0000; /* Color rojo sólido */
    box-shadow: none; /* Elimina el difuminado */
    color: #ffffff; /* Color del texto blanco al hacer hover */
}

main {
    padding: 2rem;
    width: 90%;
    max-width: 800px;
    text-align: center;
}

section {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
}

h1, h2 {
    color: #000000; /* Cambiado a color negro */
}

p {
    text-align: center;
}

.project {
    margin-bottom: 1rem;
}

.project h3 {
    color: #000000; /* Cambiado a color negro */
}

/* Estilo para el cursor personalizado */
body::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ff0000; /* Color rojo para el cursor */
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

body {
    position: relative;
}

body {
    cursor: none; /* Ocultar el cursor predeterminado */
}

body::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ff0000; /* Color rojo */
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10000;
}

body {
    cursor: none;
}

body::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #ff0000; /* Color rojo */
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

body {
    position: relative;
}
